<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app 
          PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app version="2.4">
     <display-name>InfoMusical </display-name>
     <description> Servicio de información musical </description>
     <servlet>
           <servlet-name>InformacionMusical</servlet-name>
           <servlet-class> InformacionMusical </servlet-class>
           
     </servlet>
     <servlet-mapping>
           <servlet-name>InformacionMusical</servlet-name>
           <url-pattern> /IM </url-pattern>   
</servlet-mapping>
</web-app>
